@charset "utf-8";

#container{
    width: 1080px;
    clear: both;
    margin-right: 20px;
}

/* ========= content left ================ */
#content-left-title{
    text-align: left;
    width: 100%;
    height: 98px;
    margin-bottom: 10px;
    background: url(../img/nav-bg.png) no-repeat;
    background-size:170px 35px;
    background-position: left bottom;
    padding: 0px 0px 12px 0px;

}

#category-title{
    clear: both;
    display:table; 
    z-index: 1;
}

#category-title h2{ /*category title text*/
    background: url(../img/nav-title.png) no-repeat;
    background-size:20px 20px;
    padding: 5px 5px 0px 25px;
    background-position: left bottom;
    clear: both;
    font-size: 20px;
    color: rgb(5, 70, 44);
    width: 175px;
    height: 98px;
    display: table-cell; 
    vertical-align: bottom;
    font-size: 22px;
}

#content-left {
    width: 180px;
    float: left;
    margin-right: 20px;
}

.local-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.local-nav li{
    background-position: left center;
    float: left;
	border-bottom: dashed 1px #999;
    width: 170px;
    height: 30px;
}

.local-nav a{
    width: 170px;
    height: 30px;
}

.local-nav li a, .dropbtn{
    display: inline-block;
    text-decoration: none;
	text-indent: 10px;
	color: rgb(53,75,118);
    font-weight: bold;   
    padding: 5px 7px;
}


.local-nav li:hover, .dropdown:hover .dropbtn{
    text-decoration:none;
	background-color: #555;
	color: white;
}

.local-nav a:hover{
	color: white;
}

.local-nav li.dropdown{
    display: inline-block;
}

/*=================== content center ================== */
#content-center-right{
    width: 870px;
    float: right;
    padding-top: 20px;
    min-height: 800px;
    background-color: #f3f3f3;
    position: relative;
}

#content-center{
    width: 630px;
    float: left;
    padding-top: 20px;
    margin-left: 10px;
}

#content-center h3{
    background: url(../img/bg_center_h3.png) no-repeat;
    background-size:20px 20px;
    padding: 5px 10px 5px 20px;
    background-position: left center;
    border-bottom: 1px groove #03ae6f;
    margin-bottom: 20px;
    clear: both;
    font-size: 20px;
    color: rgb(5, 70, 44);
}

#content-center strong{
    font-weight: bold;
}


#content-center p{
    margin-bottom: 10px;
}

#content-center ul{
    list-style:circle;
    margin-left: 20px;
    margin-bottom: 10px;

}

/*-------------- intro --------------------*/
#content-about p{
    text-indent: 32px;
    line-height: 25px;
}

#content-history p{
    text-indent: 32px;
    line-height: 25px;
}

#content-work p{
    text-indent: 32px;
    line-height: 25px;
}

#content-goal p{
    text-indent: 32px;
    line-height: 25px;
}

#content-research p{
    text-indent: 32px;
    line-height: 25px;
}

/*-------------- intro end ----------------*/

/*-------------- equipment ----------------*/
#content-icu h4{
    margin-top: 20px;
    margin-bottom: 10px;
    clear: both;
    font-size: 20px;
}

#content-icu img{
    margin-bottom: 25px;
}

#content-icu img{
    border: 1px groove black;
}

#content-icu dt{
    text-indent: 32px;
    line-height: 25px;
}

#content-icu p{
    text-indent: 32px;
    line-height: 25px;
}

#content-char li{
    text-indent: 32px;
    line-height: 25px;
}
/*------------- equipment end -------------------*/


#page-top{
    float: right;
}

#page-top a{
    text-decoration: none;
    color: black;
}

#page-top a:hover{
    text-decoration: solid;
    color: black;
}

/*=================== conter right =======================*/

#content-right{
    width: 200px;
    float: right;
    padding-top: 20px;
    margin-left: 20px;
}

#content-photo{
    width: 200px;
    height: 160px;
    margin-bottom: 20px;
	border-bottom:3px solid #ccc;
}

#content-photo a{
    text-decoration: none;
    color: black;
}

#content-photo a:hover{
    text-decoration: none;
    color: black;
}

#content-story{
    width: 200px;
    height: 160px;
    margin-bottom: 20px;
	border-bottom:3px solid #ccc;
}

#content-story a{
    text-decoration: none;
    color: black;
}

#content-story a:hover{
    text-decoration: none;
    color: black;
}

#content-link{
    margin-bottom: 20px;
	border-bottom: 3px solid #ccc;

}

#content-link h4{
    margin-bottom: 5px;
    font-size: 20px;
}

#content-link dt{
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 20px;
}

#content-link dd{
    margin-bottom: 2px;
}

#content-link a{
    text-decoration: none;
    color: black;
}

#content-link a:hover{
    font-weight: bold;
}

#content-music{
    width: 200px;
    height: 130px;
    margin-bottom: 20px;
	border-bottom:3px solid #ccc;
}