@charset "utf-8";

#content-center h1{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    font-family: DFKai-SB;
}

/* for article-0 */
#content-center h2{
    background: url(../img/bg_center_h3.png) no-repeat;
    background-size:20px 20px;
    padding: 5px 10px 5px 20px;
    background-position: left center;
    border-bottom: 1px groove #03ae6f;
    margin-bottom: 20px;
    margin-top: 20px;
    clear: both;
    font-size: 20px;
    font-weight: bold;
    color: rgb(5, 70, 44);
}

#content-center h3{
    font-size: 20px;
    font-style: italic;
    text-align: right;
    font-family: DFKai-SB;
    background: none;
    border-bottom: none;
    margin-bottom: 2px;
    color: black;
}

/*=========== second nav ===================*/


.second-nav {
    display: none;
    float: right;
    z-index: 1;
    margin: 0;
    width: 195px;
    position: absolute;
    margin-left: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid 1px #999;
}


.second-nav a{
    display: block;
    background-color: #f3f3f3;
    text-decoration: none;
	text-indent: 10px;
    padding: 5px 7px;
	color: rgb(53,75,118);
    font-weight: bold;
    border-bottom: dashed 1px #999;
    width: 180px;
}

.second-nav a:hover{
    text-decoration:none;
	background-color: #555;
	color: white;
}

.dropdown:hover .second-nav{
    display: block;
}

#nav-orginfor{
    top: 330px;
}

#nav-liverinfor{
    top: 361px;
}

#nav-kidneyinfor{
    top: 391px;
}

#nav-heartinfor{
    top: 423px;
}

#nav-lunginfor{
    top: 485px;
}

#nav-afterinfor{
    top: 547px;
}

#nav-medinfor{
    top: 578px;
}

#nav-nutinfor{
    top: 609px;
}

/* ========== second nav end =================*/


#text{
    font-size: 20px;
    text-align: justify;
    font-family: DFKai-SB;
}

#text::after{
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}

#text strong{
    font-weight: bold;
}

#writer{
    text-align: right;
}

.article-0{
    display: none;
}

.article-2{
    display: none;
}

.article-3{
    display: none;
}

.article-4{
    display: none;
}

.article-5{
    display: none;
}

.article-6{
    display: none;
}

.article-7{
    display: none;
}

.article-8{
    display: none;
}

.article-9{
    display: none;
}

.article-10{
    display: none;
}

.article-11{
    display: none;
}

.article-12{
    display: none;
}

.article-13{
    display: none;
}

#second-nav-title h2{
    font-weight: bold;
    font-size: 20px;
}

/*================= organ =====================*/
#organ-0 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-0 a{
    color: black;
    text-decoration: none;
}

#organ-0 a:hover{
    font-weight: bold;
}

#organ-1 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-2 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-3 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-4 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-5 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-6 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-7 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-8 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-9 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-10 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#organ-11 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

/*==================== organ end ==================*/

/*==================== lung =======================*/
#lung-1 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#lung-2 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}


/*==================== lung end ===================*/

/*==================== med ========================*/
#med-1 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#med-1 strong{
    text-indent: 0px;
}

#med-2 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

/*==================== med end =====================*/

/*==================== nutro ======================*/
#nut-2 p{
    text-indent: 32px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

#nut-2 li{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

/*==================== nutro end ======================*/

#health a{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    text-decoration: none;
    color: black;
}

#health a:hover{
    font-weight: bold;
}

#content-center p{
    font-family: "微軟正黑體",Arial,Arial, Helvetica, sans-serif;
    line-height: 25px;
}

#content-center h1{
    font-family: "微軟正黑體",Arial,Arial, Helvetica, sans-serif;
    line-height: 50px;
}

#content-center h3{
    font-family: "微軟正黑體",Arial,Arial, Helvetica, sans-serif;
    line-height: 40px;
}