@charset "urf-8";

*{
    margin: 0;
    padding: 0;
}
html{
    text-align: left;
    background-color: #eeeeee;
}

body{
    margin: 0px;
}

.clearfix:after{
    content: ".";
    display:block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{display: inline-block;}
    /* Hides from IE-mac \*/
html.clearfix{height: 1%;}
.clearfix{display: block;}
    /* End hide from IE-macc \*/
.clear{
    clear: both;
    width: 1px;
    height: 1px;
    overflow:hidden;
}

img{
    vertical-align: bottom;
    border: 0;
}
#wrapper{
    width: 1080px;
    min-height: 1080px;
    margin: auto;
    font-family: "微軟正黑體",Arial,Arial, Helvetica, sans-serif;
    background: url(../img/headimg.png) no-repeat;
    background-size: 1080px 210px;
    background-position-x: 90%;
    background-color: #f3f3f3;
}

#header{
    height: 110px;
}

#header-inner{
    clear: both;
    padding: 10px 0 10px 0;
}

#header-inner h1{
    float: left;
    margin: 20px 0 15px 0;
    width: 250px;
}

#header-inner #header-right{
}

#logo{
    width: 350px;
    height: 70px;
    text-align: left;
    background: url(../img/logo.png) no-repeat;
    background-size: 50px 50px;
    animation-delay: 0.8s;
    animation-duration: 1.5s;
    margin-top: 30px;
    border-bottom: solid 7px #143180;
}

#logo a{
    color: black;
    text-decoration: none;    
}

#logo h2{
    line-height: 33px;
    font-size: 30px;
    text-indent: 55px;
    font-weight: bold;
}

#logo h3{
    line-height: 23px;
    font-size: 20px;
    text-indent: 55px;
}

/* ========== header-menu ================*/
#header-right{
    width: 1080px;
    height:80px; 
    margin-top: 90px;
    float: left;
    background: url(../img/header-right-bg.png) repeat-x;
    background-size: 1080px 10px;
}

#header-menu{
    width: 1080px;
    height:80px; 
    margin-top: 5px;
    background: url(../img/nav-header.png) no-repeat;
    background-position: -5px 0px;
    position: relative;
    z-index: 100;
}

#nav_header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    clear: none;
}

#nav_header li{
    width: 180px;
    height: 71px;
}

#nav_header a{
    width: 179px;
    height: 71px;
    display: inline-block;
    text-decoration: none;
	text-indent: 10px;
    font-size: 20px;
    font-weight: bold;
	color: white;
}


#header-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header-menu li{
    float: left;
	border-right:1px solid #999;
}

#header-menu a{
    width: 179px;
    height: 71px;
    font-size: 20px;
    line-height: 71px;
}

#header-menu li a, .nav-dropbtn{
    display: inline-block;
    text-decoration: none;
	text-indent: 10px;
    color: white;
    font-weight: bold;   
    padding: 0px;
    text-indent: 50px;
}

.nav-drop{
    background: url(../img/arrow-1.png) no-repeat;
    background-position: 97% 30px;
}

.nav-drop:hover{
    background: url(../img/arrow-2.png) no-repeat;
    background-position: 97% 30px;
}

#header-menu li:hover, .nav-drop:hover .nav-dropbtn{
    text-decoration:none;
	color: white;
}

#header-menu a:hover{
	color: white;
}

#header-menu li.nav-drop{
    display: inline-block;
}

.nav-drop-content {
    display: none;
    float: right;
    z-index: 1;
    margin: 0;
    margin-left: 3px;
    width: 180px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-duration: 0.7s;
}


#header-menu .nav-drop-content a{
    display: inline-block;
    background: url(../img/nav-header-drop.png) no-repeat;
    text-decoration: none;
	text-indent: 50px;
    font-weight: bold;
    line-height: 41px;
    width: 180px;
    height: 41px;
    margin: 0px;
    padding: 0px;
    color: #383838;
}

#header-menu .nav-drop .nav-orginfor a{
	text-indent: 30px;
}

#header-menu .nav-drop-content a:hover{
    text-decoration:none;
    background: url(../img/nav-hover.png) no-repeat;
    background-size: 180px 41px;
}

.nav-drop:hover .nav-drop-content{
    display: block;
}

/*======== content ===============*/

#content{
    clear: both;
    background-color: #f3f3f3;
}

#content-inner{
    background-position: left top;
    min-height: 800px;
}

#page-top{
    clear: both;
}

#page-top p{
    float: right;
    padding-top: 20px;
    margin-right: 20px;
    font-weight: bold;
}


/* ========= footer ================= */
#footer{
    clear: both;
    background: url(../img/bg.png) no-repeat fixed;
    background-size: cover;
    z-index: 5;
    position: relative;
}

#footer-inner{
    clear: both;
    width:  1080px;
    padding-bottom: 20px;
}

#footer-content{
    margin: 0 -20px 0 0;
    zoom: 1;
}

.footer-column{
    width: 192px;
    margin-right: 20px;
    float: left;
    display: inline;
    padding-top: 20px;
}

.footer-column dl dt{
    border-bottom:  1px solid #00745f;
    margin-bottom: 10px;
    font-size: 116%;
    color: black;
}

.footer-column dl dt a{
    color: black;
    text-decoration:none;
}

.footer-column dl dt a:hover{
    font-weight: bold;
}

.footer-column dl dd{
    padding-left: 13px;
    margin-right: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

.footer-column dl dd a{
    color: black;
    text-decoration: none;
}

.footer-column dl dd a:hover{
    font-weight: bold;
}

/* =========== copyright ==============*/

#copyright{
    clear: both;
    z-index: 10;
}

#copyright address{
    text-align: center;
    padding: 10px 0;
    background-color: #f3f3f3;
}


